
/* Your CSS Code here. */
.main{
	padding:10px;
	font-size:20px;
	color:white;
	width:200px;
	background-color:purple;
	border-width:1px;
	border-left-width:5px;
	border-style:solid;
	box-sizing:border-box;
	border-left-color:green;
}
#heading{
	font-size:20px;
	color:white;
}
}